/* Importação */
@import "./variabes/variabes.css";

/* Icones */
.music-icon {
    height: 30px;
    width: 30px;
    padding: 5px;

    border-radius: 5px;
    padding: 2px;
    margin: 0 5px;
}

.music-input-search{
    visibility: hidden;
    position: fixed;
    left: -9000px;
}

.music-icon:hover{
    color: var(--black);
    background-color: var(--wlite);
}