/* Icones */
.music-icon {
    height: 30px;
    width: 30px;
    padding: 5px;

    border-radius: 5px;
    padding: 2px;
    margin: 0 5px;
}

.music-input-search{
    visibility: hidden;
    position: fixed;
    left: -9000px;
}

.music-icon:hover{
    color: var(--black);
    background-color: var(--wlite);
    box-shadow: 2px 2px 1px var(--red);
}

.music-icon, .music-icon:hover{
    transition: ease-in 0.4s color,  ease-in 0.4s background-color, ease-in 0.4s box-shadow;
}